<script type="text/javascript" src="" th:src="@{/js/order/order.js}"></script>
<form method="post" style="text-align: center" action="" id="sendToMyEmail">
    <br/><br/><br/>
    邮箱: &nbsp;&nbsp;<input class="easyui-textbox" value="1455235470@qq.com" name="email" data-options="required: true, validType:'email',width:250,height:30,prompt:'请输入收件邮箱'"/>
    <br/><br/>附件: &nbsp;&nbsp;<input class="easyui-filebox" value="书画网-订单详情.xlsx" readonly data-options="buttonText:'附件',width:250,height:30,prompt:'请输入邮箱'"/>
</form>
